<!--Шаблонизация
Используя шаблонизатор Handlebars создай шаблон одного элемента меню. После чего, используя шаблон, создай разметку всего меню по данным из menu.json и добавь в DOM в ul.js-menu.

Для иконок используется библиотека Material Icons, линк на веб-фонт уже есть в исходном HTML.

Ниже указана разметка элемента меню которая должна получаться по шаблону (данные будут разные для каждого объекта).-->

<li class="menu__item">
  <article class="card">
    <img src={{image}} alt={{name}} class="card__image" />
    <div class="card__content">
      <h2 class="card__name">{{ingredients}}</h2>
      <p class="card__price">
        <i class="material-icons"> monetization_on </i>
        {{price}} кредитов
      </p>

      <p class="card__descr">
        {{description}}
      </p>


      <!--Handlebars.registerHelper(const listEl = document.querySelector("#ingredients");
      const newListItem = ingredients.map((ingredient) => {
      const newIngredient = document.createElement("li");
      newIngredient.textContent = ingredient;
      listEl.appendChild(newIngredient);

      return newIngredient;
      }););-->
      <ul class="tag-list">
        <li class="tag-list__item">{{#list}}{{ingredients}}</li>
      </ul>
    </div>

    <button class="card__button button">
      <i class="material-icons button__icon"> shopping_cart </i>
      В корзину
    </button>
  </article>
</li>